
nav{
    text-decoration: none;
   display: flex;
   padding: 20px;
   justify-content: space-around;
  
   }
  
   
   a{
    text-decoration: none;
   }
   a:hover{
    color: red;
   }