<html>
  <head>
    <title>MY PROJRCT</title>

  <link rel="stylesheet" href="./home.component.scss">
  </head>
<body>
<div appPost>
    <div appLike>
         <h2>Food Blog</h2>
         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, aperiam! Veniam laborum a nostrum illum laboriosam distinctio, sapiente dolore aut! Qui ipsa aperiam quidem voluptatem rem amet laborum recusandae voluptas.</p>
         <img src="/fe-angular/src/assets/img1.jpeg">

    </div>
    <div appLike>
    <h2>Travel Blog</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, aperiam! Veniam laborum a nostrum illum laboriosam distinctio, sapiente dolore aut! Qui ipsa aperiam quidem voluptatem rem amet laborum recusandae voluptas.</p>
    <img src="/fe-angular/src/assets/img1.jpeg">
</div>
</div>

<div appPost>
    <div appLike>
         <h2>Beauty Blog</h2>
         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, aperiam! Veniam laborum a nostrum illum laboriosam distinctio, sapiente dolore aut! Qui ipsa aperiam quidem voluptatem rem amet laborum recusandae voluptas.</p>
         <img src="/fe-angular/src/assets/img1.jpeg">

    </div>
    <div appLike>
    <h2>Sports Blog</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, aperiam! Veniam laborum a nostrum illum laboriosam distinctio, sapiente dolore aut! Qui ipsa aperiam quidem voluptatem rem amet laborum recusandae voluptas.</p>
    <img src="/fe-angular/src/assets/img1.jpeg">
</div>
</div>

<br><br>

</body>
</html>